<div class=" bg landing my-1">
    <div class="dark-overlay">
        <div class="landing-inner">
            <h1 class="x-large">Welcome To BHARAT BIJLI Family</h1>
            <p class="paraStyle my-5">
                Powering Progress, Lighting LivesBrighter Ideas, Stronger Connections
            </p>
            <div class="button mx-2">
                <button class="btn btn-primary">
                    Sign Up
                </button>
                <a class="btn btn-light" routerLink="/login">
                    Login
                </a>
            </div>
        </div>
    </div>
</div>